<li><%= link_to 'Height List', heights_path %></li>
<li><%= link_to 'Weight List', weights_path %></li>
<li><%= link_to 'Workout List', workouts_path %></li>
<li><%= link_to 'Food List', foods_path %></li>
<li><%= link_to 'Sign Out', logout_path, method: :delete %></li>