<%= form_for(@height, class: 'simple_form') do |form| %>
  <% if @height.errors.any? %>
    <ul>
      <% @height.errors.full_messages.each do |error_message| %>
        <li class="center red-text"><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-inputs row">
    <div class="input-field col s12 measurement height_measurement">
      <%= form.number_field :measurement, class: 'validate measurement required', step: '0.01', value: @height.measurement || '1.60', min: 0, max: 3 %>
      <%= form.label :measurement, class: 'measurement' %>
    </div>

    <div class="input-field col s12 measured_at height_measured_at">
      <%= form.date_field :measured_at, class: 'validate measured_at required', value: @height.measured_at || Date.today, min: '1900-01-01', max: Date.today %>
      <%= form.label :measured_at, class: 'measured_at' %>
    </div>

    <div class="center">
      <%= form.submit 'Confirm', class: 'btn-large blue' %>
    </div>
  </div>
<% end %>