<!DOCTYPE html>
<html>
  <head>
    <title>HealthTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-fixed">
      <nav class="teal darken-1">
        <div class="nav-wrapper container">
          <%= link_to 'Health Track', root_path, class: 'brand-logo' %>
          <ul class="right">
            <li><%= link_to 'Dashboard', root_path %></li>
            <% if logged_in? %>
              <li><%= link_to 'Sign Out', logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', login_path %></li>
              <li><%= link_to 'Sign Up', signup_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
